<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="keywords" content="s">
    <link rel="stylesheet" href="styles/style_dnd.css">
</head>
<body onresize="adjust()">
	<div id=menus>
        <div class="menuChapter menuSide"> 
            <div id=navList>
            </div> 
        </div>
        <p class="addIssue menuSide">
            Feel free to <a id=suggestions href=https://github.com/ishax-kos/Medium5e/issues/new/choose>make a suggestion</a>! I'm not perfect. I don't want to outshine warlock entirely if I can help it.
        </p>
	</div>
<div class=page>{{ content }}</div>
<script src= "../scripts/script.js" > </script>
</body>
</html>